node-red/mqtt-dashboard.json
[
    {
        "id": "c9449b8390438fa2",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5eec157295204f4",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0301dfa7f476f355",
        "type": "mqtt-broker",
        "name": "Aedes",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79b76612ac24355f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c416b62bfd03774e",
        "type": "ui_spacer",
        "z": "d5eec157295204f4",
        "name": "spacer",
        "group": "a5e2887b0d127a72",
        "order": 6,
        "width": 12,
        "height": 1
    },
    {
        "id": "fcb7eba766762a75",
        "type": "ui_group",
        "name": "Roaster1",
        "tab": "2211defc230bb008",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "67f9ce7ba9814c9f",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5e2887b0d127a72",
        "type": "ui_group",
        "name": "Roaster2",
        "tab": "2211defc230bb008",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2211defc230bb008",
        "type": "ui_tab",
        "name": "J405",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dfcd83f0b5474695",
        "type": "mqtt-broker",
        "name": "HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a4f04e472a743994",
        "type": "comment",
        "z": "c9449b8390438fa2",
        "name": "Broker: broker.hivemq.com:1883",
        "info": "https://www.hivemq.com/public-mqtt-broker/",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "b641dd834b8c1d0f",
        "type": "mqtt in",
        "z": "c9449b8390438fa2",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "5af9c8819e3b97a6"
            ]
        ]
    },
    {
        "id": "c791a9ed35fa2343",
        "type": "mqtt out",
        "z": "c9449b8390438fa2",
        "name": "",
        "topic": "/stust/p306",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e629008815b4a95",
        "type": "inject",
        "z": "c9449b8390438fa2",
        "name": "subscribe",
        "props": [
            {
                "p": "action",
                "v": "subscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/stust/p306",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "b641dd834b8c1d0f"
            ]
        ]
    },
    {
        "id": "be28ef1781489f1b",
        "type": "inject",
        "z": "c9449b8390438fa2",
        "name": "unsubscribe",
        "props": [
            {
                "p": "action",
                "v": "unsubscribe",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "/stust/p306",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "b641dd834b8c1d0f",
                "39295c865c6da571"
            ]
        ]
    },
    {
        "id": "5af9c8819e3b97a6",
        "type": "debug",
        "z": "c9449b8390438fa2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "11d067b61da3da1d",
        "type": "inject",
        "z": "c9449b8390438fa2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "(\t    $minimum := 1;\t    $maximum := 10;\t    $round(($random() * ($maximum-$minimum)) + $minimum, 0)\t)",
        "payloadType": "jsonata",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "c791a9ed35fa2343"
            ]
        ]
    },
    {
        "id": "c530d6e45ba6807c",
        "type": "aedes broker",
        "z": "c9449b8390438fa2",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "39295c865c6da571",
        "type": "change",
        "z": "c9449b8390438fa2",
        "name": "Reset Output",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "5af9c8819e3b97a6"
            ]
        ]
    },
    {
        "id": "cceb41b44852aa26",
        "type": "comment",
        "z": "c9449b8390438fa2",
        "name": "Broker: broker.emqx.io:1883",
        "info": "https://www.emqx.com/en/mqtt/public-mqtt5-broker",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "8ec688ca9980c392",
        "type": "ui_button",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "fcb7eba766762a75",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Subscribe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "subscribe",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "b196ba79b318c580"
            ]
        ]
    },
    {
        "id": "1d90660cfb923cae",
        "type": "ui_gauge",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "fcb7eba766762a75",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "517caee5ce432283",
        "type": "mqtt in",
        "z": "d5eec157295204f4",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 100,
        "wires": [
            [
                "1d90660cfb923cae"
            ]
        ]
    },
    {
        "id": "b196ba79b318c580",
        "type": "change",
        "z": "d5eec157295204f4",
        "name": "/P306/roaster/1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/P306/roaster/1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "517caee5ce432283"
            ]
        ]
    },
    {
        "id": "5ab83270f1341c81",
        "type": "ui_button",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "fcb7eba766762a75",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Unsubscribe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "unsubscribe",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "057a5134b782c2de"
            ]
        ]
    },
    {
        "id": "057a5134b782c2de",
        "type": "change",
        "z": "d5eec157295204f4",
        "name": "/P306/roaster/1",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/P306/roaster/1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "517caee5ce432283",
                "1d90660cfb923cae"
            ]
        ]
    },
    {
        "id": "a6730fe0af3dc62d",
        "type": "mqtt out",
        "z": "d5eec157295204f4",
        "name": "",
        "topic": "/P306/roaster/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "7106842a55a72681",
        "type": "inject",
        "z": "d5eec157295204f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "(\t    $minimum := 100;\t    $maximum := 300;\t    $round(($random() * ($maximum-$minimum)) + $minimum, 0)\t)",
        "payloadType": "jsonata",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "a6730fe0af3dc62d"
            ]
        ]
    },
    {
        "id": "3a83bf128b493a02",
        "type": "ui_button",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "a5e2887b0d127a72",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Subscribe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "subscribe",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "7bd7037e4b85d07b"
            ]
        ]
    },
    {
        "id": "cc87e9b91cdc3c23",
        "type": "ui_gauge",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "a5e2887b0d127a72",
        "order": 1,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "410c722f95023219",
        "type": "mqtt in",
        "z": "d5eec157295204f4",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "67f9ce7ba9814c9f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 790,
        "y": 300,
        "wires": [
            [
                "062e4465984b0876",
                "cc87e9b91cdc3c23"
            ]
        ]
    },
    {
        "id": "7bd7037e4b85d07b",
        "type": "change",
        "z": "d5eec157295204f4",
        "name": "/P306/roaster/2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "subscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/P306/roaster/2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "410c722f95023219"
            ]
        ]
    },
    {
        "id": "b5940268e9c607dc",
        "type": "ui_button",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "a5e2887b0d127a72",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Unsubscribe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "unsubscribe",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "fee5c72b4ab3efdb"
            ]
        ]
    },
    {
        "id": "fee5c72b4ab3efdb",
        "type": "change",
        "z": "d5eec157295204f4",
        "name": "/P306/roaster/2",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "unsubscribe",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/P306/roaster/2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "410c722f95023219",
                "cc87e9b91cdc3c23"
            ]
        ]
    },
    {
        "id": "360e41fd75081a50",
        "type": "mqtt out",
        "z": "d5eec157295204f4",
        "name": "",
        "topic": "/P306/roaster/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67f9ce7ba9814c9f",
        "x": 600,
        "y": 580,
        "wires": []
    },
    {
        "id": "f823c40553649dab",
        "type": "inject",
        "z": "d5eec157295204f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "(\t    $minimum := 50;\t    $maximum := 250;\t    $round(($random() * ($maximum-$minimum)) + $minimum, 0)\t)",
        "payloadType": "jsonata",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "360e41fd75081a50"
            ]
        ]
    },
    {
        "id": "062e4465984b0876",
        "type": "ui_chart",
        "z": "d5eec157295204f4",
        "name": "",
        "group": "a5e2887b0d127a72",
        "order": 2,
        "width": 8,
        "height": 7,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "45ae7dee81754b40",
        "type": "inject",
        "z": "d5eec157295204f4",
        "name": "Unsubscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "b5940268e9c607dc",
                "5ab83270f1341c81"
            ]
        ]
    },
    {
        "id": "cfc417393bf11b9c",
        "type": "inject",
        "z": "d5eec157295204f4",
        "name": "Subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "8ec688ca9980c392",
                "3a83bf128b493a02"
            ]
        ]
    }
]